<!DOCTYPE html>

<html>
<head>
<title>About Page</title>
</head>	
<body>
  <h1>About Devbootcamp!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum numquam deleniti id, laboriosam optio eaque at mollitia a dolor, quod, voluptas vitae iste iure doloribus placeat. Exercitationem blanditiis, id nulla.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum numquam deleniti id, laboriosam optio eaque at mollitia a dolor, quod, voluptas vitae iste iure doloribus placeat. Exercitationem blanditiis, id nulla.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum numquam deleniti id, laboriosam optio eaque at mollitia a dolor, quod, voluptas vitae iste iure doloribus placeat. Exercitationem blanditiis, id nulla.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum numquam deleniti id, laboriosam optio eaque at mollitia a dolor, quod, voluptas vitae iste iure doloribus placeat. Exercitationem blanditiis, id nulla.</p>

  <h2>Add New DBC Campus</h2>

  <form action="/students" method="POST">
    <input type="text" name="campus" placeholder="New Campus">
    <button type="submit">Save</button>
  </form>


</body>
</html>