body {
  max-width: 960px;
}

.column {
  display: inline-block; vertical-align: top;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#main {
  width: 50%;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  width: 25%;
  float: left;
  min-width: 150px;
}
#third {
  width: 20%;
  margin: 5px;
  font-size: 75%;
  float: right;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 1em;
  }
  #third {
    opacity: 0;
  }
  #main {
    width: 100%;
  }
  #external-links {
    width: 100%;
  } 
}
