#contact-info {
	font-size: .8em;
}
.job {
	background-color: #e9e5dc;
	padding: .4px;
	margin-top: 20px;
	border-radius: 10px;
}
.job h3 {
	position: relative;
	left: 5px;
}
.unordered {
	font-size: .8em;
}
ul li:hover {
	font-size: 125%
}